---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=2&key=7697191e338e4cbf82a214115211609&q=boulder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '517'
      Cdn-Cachedat:
      - '2021-09-18 16:09:42'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - bd34d47ba676b45dd9cfc5cc122fe56d
      Cdn-Status:
      - '200'
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Boulder","region":"Colorado","country":"United
        States of America","lat":40.02,"lon":-105.27,"tz_id":"America/Denver","localtime_epoch":1631995782,"localtime":"2021-09-18
        14:09"},"current":{"last_updated_epoch":1631991600,"last_updated":"2021-09-18
        13:00","temp_c":30.0,"temp_f":86.0,"is_day":1,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/day/143.png","code":1030},"wind_mph":0.0,"wind_kph":0.0,"wind_degree":0,"wind_dir":"N","pressure_mb":1019.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":14,"cloud":0,"feelslike_c":27.8,"feelslike_f":82.0,"vis_km":8.0,"vis_miles":4.0,"uv":7.0,"gust_mph":7.8,"gust_kph":12.6},"forecast":{"forecastday":[{"date":"2021-09-18","date_epoch":1631923200,"day":{"maxtemp_c":29.7,"maxtemp_f":85.5,"mintemp_c":11.9,"mintemp_f":53.4,"avgtemp_c":20.1,"avgtemp_f":68.2,"maxwind_mph":17.9,"maxwind_kph":28.8,"totalprecip_mm":0.3,"totalprecip_in":0.01,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":22.0,"daily_will_it_rain":1,"daily_chance_of_rain":77,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":7.0},"astro":{"sunrise":"06:45
        AM","sunset":"07:04 PM","moonrise":"06:27 PM","moonset":"03:59 AM","moon_phase":"Full
        Moon","moon_illumination":"90"},"hour":[{"time_epoch":1631944800,"time":"2021-09-18
        00:00","temp_c":12.8,"temp_f":55.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.4,"wind_kph":8.6,"wind_degree":273,"wind_dir":"W","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"humidity":29,"cloud":0,"feelslike_c":12.2,"feelslike_f":54.0,"windchill_c":12.2,"windchill_f":54.0,"heatindex_c":12.8,"heatindex_f":55.0,"dewpoint_c":-4.6,"dewpoint_f":23.7,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":11.2,"gust_kph":18.0,"uv":1.0},{"time_epoch":1631948400,"time":"2021-09-18
        01:00","temp_c":12.0,"temp_f":53.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":266,"wind_dir":"W","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"humidity":29,"cloud":0,"feelslike_c":11.6,"feelslike_f":52.9,"windchill_c":11.6,"windchill_f[...]
