---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=2&key=7697191e338e4cbf82a214115211609&q=boulder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '517'
      Cdn-Cachedat:
      - '2021-09-19 12:18:50'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - cd143eaa8dd35ac488494a9058be9ba8
      Cdn-Status:
      - '200'
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Boulder","region":"Colorado","country":"United
        States of America","lat":40.02,"lon":-105.27,"tz_id":"America/Denver","localtime_epoch":1632068330,"localtime":"2021-09-19
        10:18"},"current":{"last_updated_epoch":1632068100,"last_updated":"2021-09-19
        10:15","temp_c":25.0,"temp_f":77.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":80,"wind_dir":"E","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":21,"cloud":0,"feelslike_c":26.0,"feelslike_f":78.8,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":21.0,"gust_kph":33.8},"forecast":{"forecastday":[{"date":"2021-09-19","date_epoch":1632009600,"day":{"maxtemp_c":29.2,"maxtemp_f":84.6,"mintemp_c":11.6,"mintemp_f":52.9,"avgtemp_c":20.6,"avgtemp_f":69.2,"maxwind_mph":22.6,"maxwind_kph":36.4,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":32.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":7.0},"astro":{"sunrise":"06:46
        AM","sunset":"07:03 PM","moonrise":"06:55 PM","moonset":"05:08 AM","moon_phase":"Full
        Moon","moon_illumination":"97"},"hour":[{"time_epoch":1632031200,"time":"2021-09-19
        00:00","temp_c":19.0,"temp_f":66.2,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":7.4,"wind_kph":11.9,"wind_degree":249,"wind_dir":"WSW","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"humidity":35,"cloud":11,"feelslike_c":19.0,"feelslike_f":66.2,"windchill_c":19.0,"windchill_f":66.2,"heatindex_c":19.0,"heatindex_f":66.2,"dewpoint_c":3.1,"dewpoint_f":37.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":14.3,"gust_kph":23.0,"uv":1.0},{"time_epoch":1632034800,"time":"2021-09-19
        01:00","temp_c":18.3,"temp_f":64.9,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":259,"wind_dir":"W","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.0,"precip_in":0.0,"humidity":38,"cloud":9,"feelslike_c":18.3,"feelslike_f":64.9,"windchill_c":[...]
