---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=7697191e338e4cbf82a214115211609&q=boulder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/17/2021 19:52:01'
      Cdn-Edgestorageid:
      - '517'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 13d7706e918a1b70a30ededcd3cb4f4d
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Boulder","region":"Colorado","country":"United
        States of America","lat":40.02,"lon":-105.27,"tz_id":"America/Denver","localtime_epoch":1631922721,"localtime":"2021-09-17
        17:52"},"current":{"last_updated_epoch":1631922300,"last_updated":"2021-09-17
        17:45","temp_c":30.0,"temp_f":86.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":0.0,"wind_kph":0.0,"wind_degree":0,"wind_dir":"N","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"humidity":14,"cloud":0,"feelslike_c":28.9,"feelslike_f":84.1,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":7.2,"gust_kph":11.5},"forecast":{"forecastday":[{"date":"2021-09-17","date_epoch":1631836800,"day":{"maxtemp_c":23.5,"maxtemp_f":74.3,"mintemp_c":5.3,"mintemp_f":41.5,"avgtemp_c":14.2,"avgtemp_f":57.6,"maxwind_mph":8.1,"maxwind_kph":13.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":47.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":7.0},"astro":{"sunrise":"06:44
        AM","sunset":"07:06 PM","moonrise":"05:54 PM","moonset":"02:49 AM","moon_phase":"Full
        Moon","moon_illumination":"83"},"hour":[{"time_epoch":1631858400,"time":"2021-09-17
        00:00","temp_c":15.5,"temp_f":59.9,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.7,"wind_kph":7.6,"wind_degree":255,"wind_dir":"WSW","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.0,"precip_in":0.0,"humidity":23,"cloud":3,"feelslike_c":15.5,"feelslike_f":59.9,"windchill_c":15.5,"windchill_f":59.9,"heatindex_c":15.5,"heatindex_f":59.9,"dewpoint_c":-5.5,"dewpoint_f":22.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":9.8,"gust_kph":15.8,"uv":1.0},{"time_epoch":1631862000,"time":"2021-09-17
        01:00","temp_c":13.1,"temp_f":55.6,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":312,"wind_dir":"NW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.0,"precip_in":0.0,"humidity":28,"cloud":6,"feelslike_c":13.6,"feelslike_f":56.5,"windchill_c":1[...]
