---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=7697191e338e4cbf82a214115211609&q=Boulder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/20/2021 08:22:15'
      Cdn-Edgestorageid:
      - '603'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 37afd550d064581ed854a8144b4995a0
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Boulder","region":"Colorado","country":"United
        States of America","lat":40.02,"lon":-105.27,"tz_id":"America/Denver","localtime_epoch":1632154935,"localtime":"2021-09-20
        10:22"},"current":{"last_updated_epoch":1632154500,"last_updated":"2021-09-20
        10:15","temp_c":16.0,"temp_f":60.8,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":300,"wind_dir":"WNW","pressure_mb":1020.0,"pressure_in":30.13,"precip_mm":0.0,"precip_in":0.0,"humidity":27,"cloud":0,"feelslike_c":16.0,"feelslike_f":60.8,"vis_km":16.0,"vis_miles":9.0,"uv":3.0,"gust_mph":6.9,"gust_kph":11.2},"forecast":{"forecastday":[{"date":"2021-09-20","date_epoch":1632096000,"day":{"maxtemp_c":21.3,"maxtemp_f":70.3,"mintemp_c":5.8,"mintemp_f":42.4,"avgtemp_c":13.6,"avgtemp_f":56.5,"maxwind_mph":18.6,"maxwind_kph":29.9,"totalprecip_mm":0.3,"totalprecip_in":0.01,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":40.0,"daily_will_it_rain":0,"daily_chance_of_rain":69,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":6.0},"astro":{"sunrise":"06:47
        AM","sunset":"07:01 PM","moonrise":"07:20 PM","moonset":"06:14 AM","moon_phase":"Waning
        Gibbous","moon_illumination":"97"},"hour":[{"time_epoch":1632117600,"time":"2021-09-20
        00:00","temp_c":18.1,"temp_f":64.6,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":11.2,"wind_kph":18.0,"wind_degree":235,"wind_dir":"SW","pressure_mb":1005.0,"pressure_in":29.68,"precip_mm":0.0,"precip_in":0.0,"humidity":34,"cloud":2,"feelslike_c":18.1,"feelslike_f":64.6,"windchill_c":18.1,"windchill_f":64.6,"heatindex_c":18.1,"heatindex_f":64.6,"dewpoint_c":2.1,"dewpoint_f":35.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":20.4,"gust_kph":32.8,"uv":1.0},{"time_epoch":1632121200,"time":"2021-09-20
        01:00","temp_c":17.5,"temp_f":63.5,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":240,"wind_dir":"WSW","pressure_mb":1006.0,"pressure_in":29.7,"precip_mm":0.0,"precip_in":0.0,"humidity":37,"cloud":2,"feelslike_c":17.5,"feelslike_f":63.5,"windchill_c"[...]
