---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=2&key=7697191e338e4cbf82a214115211609&q=Estes%20Park
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/20/2021 09:22:13'
      Cdn-Edgestorageid:
      - '637'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 4653d6aaef35b5a1b6a2d07fc2b03157
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Estes Park","region":"Colorado","country":"United
        States of America","lat":40.38,"lon":-105.52,"tz_id":"America/Denver","localtime_epoch":1632154933,"localtime":"2021-09-20
        10:22"},"current":{"last_updated_epoch":1632154500,"last_updated":"2021-09-20
        10:15","temp_c":17.2,"temp_f":63.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":0.0,"wind_kph":0.0,"wind_degree":0,"wind_dir":"N","pressure_mb":1021.0,"pressure_in":30.15,"precip_mm":0.0,"precip_in":0.0,"humidity":31,"cloud":0,"feelslike_c":17.2,"feelslike_f":63.0,"vis_km":11.0,"vis_miles":6.0,"uv":1.0,"gust_mph":8.7,"gust_kph":14.0},"forecast":{"forecastday":[{"date":"2021-09-20","date_epoch":1632096000,"day":{"maxtemp_c":14.4,"maxtemp_f":57.9,"mintemp_c":0.2,"mintemp_f":32.4,"avgtemp_c":7.7,"avgtemp_f":45.9,"maxwind_mph":15.7,"maxwind_kph":25.2,"totalprecip_mm":0.7,"totalprecip_in":0.03,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":48.0,"daily_will_it_rain":1,"daily_chance_of_rain":80,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":7.0},"astro":{"sunrise":"06:48
        AM","sunset":"07:02 PM","moonrise":"07:22 PM","moonset":"06:15 AM","moon_phase":"Waning
        Gibbous","moon_illumination":"97"},"hour":[{"time_epoch":1632117600,"time":"2021-09-20
        00:00","temp_c":10.6,"temp_f":51.1,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":15.0,"wind_kph":24.1,"wind_degree":264,"wind_dir":"W","pressure_mb":1008.0,"pressure_in":29.77,"precip_mm":0.0,"precip_in":0.0,"humidity":60,"cloud":6,"feelslike_c":7.8,"feelslike_f":46.0,"windchill_c":7.8,"windchill_f":46.0,"heatindex_c":10.6,"heatindex_f":51.1,"dewpoint_c":3.3,"dewpoint_f":37.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":18.6,"gust_kph":29.9,"uv":1.0},{"time_epoch":1632121200,"time":"2021-09-20
        01:00","temp_c":9.8,"temp_f":49.6,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":10.3,"wind_kph":16.6,"wind_degree":259,"wind_dir":"W","pressure_mb":1009.0,"pressure_in":29.79,"precip_mm":0.0,"precip_in":0.0,"humidity":64,"cloud":6,"feelslike_c":7.5,"feelslike_f":45.5,"windchill_c":7.5,"wind[...]
