---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=2&key=7697191e338e4cbf82a214115211609&q=Estes%20Park
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '637'
      Cdn-Cachedat:
      - '2021-09-18 13:09:47'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 7ecbc9fe83ad5d82ce2c86bb390c85d1
      Cdn-Status:
      - '200'
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Estes Park","region":"Colorado","country":"United
        States of America","lat":40.38,"lon":-105.52,"tz_id":"America/Denver","localtime_epoch":1631995787,"localtime":"2021-09-18
        14:09"},"current":{"last_updated_epoch":1631991600,"last_updated":"2021-09-18
        13:00","temp_c":31.0,"temp_f":87.8,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":140,"wind_dir":"SE","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"humidity":14,"cloud":0,"feelslike_c":28.8,"feelslike_f":83.8,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":5.4,"gust_kph":8.6},"forecast":{"forecastday":[{"date":"2021-09-18","date_epoch":1631923200,"day":{"maxtemp_c":24.4,"maxtemp_f":75.9,"mintemp_c":8.9,"mintemp_f":48.0,"avgtemp_c":15.9,"avgtemp_f":60.6,"maxwind_mph":17.9,"maxwind_kph":28.8,"totalprecip_mm":0.4,"totalprecip_in":0.02,"avgvis_km":9.9,"avgvis_miles":6.0,"avghumidity":28.0,"daily_will_it_rain":0,"daily_chance_of_rain":60,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":8.0},"astro":{"sunrise":"06:46
        AM","sunset":"07:05 PM","moonrise":"06:29 PM","moonset":"03:59 AM","moon_phase":"Full
        Moon","moon_illumination":"90"},"hour":[{"time_epoch":1631944800,"time":"2021-09-18
        00:00","temp_c":10.4,"temp_f":50.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":7.6,"wind_kph":12.2,"wind_degree":264,"wind_dir":"W","pressure_mb":1023.0,"pressure_in":30.21,"precip_mm":0.0,"precip_in":0.0,"humidity":25,"cloud":0,"feelslike_c":8.8,"feelslike_f":47.8,"windchill_c":8.8,"windchill_f":47.8,"heatindex_c":10.4,"heatindex_f":50.7,"dewpoint_c":-8.7,"dewpoint_f":16.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":15.9,"gust_kph":25.6,"uv":1.0},{"time_epoch":1631948400,"time":"2021-09-18
        01:00","temp_c":10.1,"temp_f":50.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":264,"wind_dir":"W","pressure_mb":1023.0,"pressure_in":30.22,"precip_mm":0.0,"precip_in":0.0,"humidity":24,"cloud":0,"feelslike_c":8.3,"feelslike_f":46.9,"windchill_c":8.3,"windchill_f"[...]
