---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=2&key=7697191e338e4cbf82a214115211609&q=Estes%20Park
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.0'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/17/2021 17:16:18'
      Cdn-Edgestorageid:
      - '637'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - fb44155abe2ddc0b7bdb7cd159c6fcdf
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Estes Park","region":"Colorado","country":"United
        States of America","lat":40.38,"lon":-105.52,"tz_id":"America/Denver","localtime_epoch":1631924178,"localtime":"2021-09-17
        18:16"},"current":{"last_updated_epoch":1631924100,"last_updated":"2021-09-17
        18:15","temp_c":31.8,"temp_f":89.2,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":0.0,"wind_kph":0.0,"wind_degree":0,"wind_dir":"N","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"humidity":14,"cloud":0,"feelslike_c":29.8,"feelslike_f":85.6,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":6.5,"gust_kph":10.4},"forecast":{"forecastday":[{"date":"2021-09-17","date_epoch":1631836800,"day":{"maxtemp_c":20.2,"maxtemp_f":68.4,"mintemp_c":3.6,"mintemp_f":38.5,"avgtemp_c":12.2,"avgtemp_f":53.9,"maxwind_mph":7.6,"maxwind_kph":12.2,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":40.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":7.0},"astro":{"sunrise":"06:45
        AM","sunset":"07:07 PM","moonrise":"05:56 PM","moonset":"02:49 AM","moon_phase":"Full
        Moon","moon_illumination":"83"},"hour":[{"time_epoch":1631858400,"time":"2021-09-17
        00:00","temp_c":10.8,"temp_f":51.4,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":7.2,"wind_kph":11.5,"wind_degree":276,"wind_dir":"W","pressure_mb":1016.0,"pressure_in":30.01,"precip_mm":0.0,"precip_in":0.0,"humidity":30,"cloud":0,"feelslike_c":9.3,"feelslike_f":48.7,"windchill_c":9.3,"windchill_f":48.7,"heatindex_c":10.8,"heatindex_f":51.4,"dewpoint_c":-6.2,"dewpoint_f":20.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":15.0,"gust_kph":24.1,"uv":1.0},{"time_epoch":1631862000,"time":"2021-09-17
        01:00","temp_c":9.4,"temp_f":48.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":277,"wind_dir":"W","pressure_mb":1018.0,"pressure_in":30.05,"precip_mm":0.0,"precip_in":0.0,"humidity":33,"cloud":0,"feelslike_c":8.6,"feelslike_f":47.5,"windchill_c":8.6,"windchill_f":4[...]
