---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=94194bbad54aa4ff9fa9ac918fe1b330&lat=37.5858662&lon=-85.67330523
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-85.6733,"lat":37.5859},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":291.2,"feels_like":290.29,"temp_min":289.74,"temp_max":292.44,"pressure":1017,"humidity":47,"sea_level":1017,"grnd_level":987},"visibility":10000,"wind":{"speed":5.99,"deg":278,"gust":7.83},"clouds":{"all":1},"dt":1632420154,"sys":{"type":1,"id":3967,"country":"US","sunrise":1632396692,"sunset":1632440305},"timezone":-14400,"id":4294937,"name":"Hodgenville","cod":200}'
  recorded_at: Thu, 23 Sep 2021 18:02:35 GMT
recorded_with: VCR 6.0.0
