---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=2&key=7697191e338e4cbf82a214115211609&q=Estes%20Park
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '637'
      Cdn-Cachedat:
      - '2021-09-19 09:18:53'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 4c94f1a42af2b29dcc659bb8b443b6ec
      Cdn-Status:
      - '200'
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Estes Park","region":"Colorado","country":"United
        States of America","lat":40.38,"lon":-105.52,"tz_id":"America/Denver","localtime_epoch":1632068333,"localtime":"2021-09-19
        10:18"},"current":{"last_updated_epoch":1632068100,"last_updated":"2021-09-19
        10:15","temp_c":27.2,"temp_f":81.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":16.1,"wind_kph":25.9,"wind_degree":270,"wind_dir":"W","pressure_mb":1015.0,"pressure_in":29.96,"precip_mm":0.0,"precip_in":0.0,"humidity":19,"cloud":0,"feelslike_c":30.2,"feelslike_f":86.3,"vis_km":11.0,"vis_miles":6.0,"uv":3.0,"gust_mph":13.6,"gust_kph":22.0},"forecast":{"forecastday":[{"date":"2021-09-19","date_epoch":1632009600,"day":{"maxtemp_c":22.5,"maxtemp_f":72.5,"mintemp_c":7.8,"mintemp_f":46.0,"avgtemp_c":15.0,"avgtemp_f":58.9,"maxwind_mph":19.9,"maxwind_kph":32.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":46.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":7.0},"astro":{"sunrise":"06:47
        AM","sunset":"07:04 PM","moonrise":"06:57 PM","moonset":"05:08 AM","moon_phase":"Full
        Moon","moon_illumination":"97"},"hour":[{"time_epoch":1632031200,"time":"2021-09-19
        00:00","temp_c":12.5,"temp_f":54.5,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":260,"wind_dir":"W","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"humidity":51,"cloud":11,"feelslike_c":10.6,"feelslike_f":51.1,"windchill_c":10.6,"windchill_f":51.1,"heatindex_c":12.5,"heatindex_f":54.5,"dewpoint_c":2.7,"dewpoint_f":36.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":14.3,"gust_kph":23.0,"uv":1.0},{"time_epoch":1632034800,"time":"2021-09-19
        01:00","temp_c":11.9,"temp_f":53.4,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":13.9,"wind_kph":22.3,"wind_degree":259,"wind_dir":"W","pressure_mb":1015.0,"pressure_in":29.98,"precip_mm":0.0,"precip_in":0.0,"humidity":59,"cloud":9,"feelslike_c":9.6,"feelslike_f":49.3,"windchill_c":[...]
