---
http_interactions:
- request:
    method: get
    uri: https://developer.nps.gov/api/v1/activities/parks?api_key=69QwAL1uO0Fqbi1w8JgWXdUHrBdCmTxJkelc5Yd3&q=Paint%20Balling
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '986'
      Allow:
      - Get
    body:
      encoding: ASCII-8BIT
      string: "\t\r\n{\r\n\r\n\"total\":\"0\",\r\n\"limit\":\"50\",\r\n\"start\":\"0\",\t\r\n\"data\":[\r\n\r\n]\r\n}\r\n"
  recorded_at: Wed, 22 Sep 2021 01:55:39 GMT
recorded_with: VCR 6.0.0
